{% extends "layout.twig" %}
{% block content %}

<!-- CONTAINER -->
<div class="template-container home-page">

	<!-- HEADER -->
	{% include "includes/header.twig" %}

	<!-- MAIN SECTION -->
	<div role="main" id="main">

		<!-- GALLERY WIDGET
		{{widget('gallery', 'home-gallery', {
		'showTitle': true,
		'showDescription': false,
		'images':[
			{'url':asset('/images/gallery/3.jpg'),'title':'First image title'},
			{'url':asset('/images/gallery/2.jpg')},
			{'url':asset('/images/gallery/3.jpg')},
			{'url':asset('/images/gallery/6.jpg'), 'title':'First image title'},
			{'url':asset('/images/gallery/7.jpg')},
			{'url':asset('/images/gallery/1.jpg')},
			{'url':asset('/images/gallery/8.jpg'), 'title':'First image title'},
			{'url':asset('/images/gallery/9.jpg')},
			{'url':asset('/images/gallery/4.jpg'), 'title':'First image title'},
			{'url':asset('/images/gallery/5.jpg')}
		]})|raw}}-->

		<div id="page-zones__main-widgets__56d6bae59a91b" data-name="responsivecolumns" class="widget  widget--zone-widget js-droppable" data-uniqueid="zYOBOIBbTLs0vuI">

    <div class="bk-responsivecolumns  responsivecolumns  widget__responsivecolumns  js-responsivecolumns">



                    <section id="page-zones__main-widgets__56d6bae59a91b-zones__56d6bae5a5e3a" class="bk-zone column columns-two-left" data-uniqueid="CrvW6LSfjuoNIM9" max-width="650px" style="position: relative;">            <div id="page-zones__main-widgets__56d6bae59a91b-zones__56d6bae5a5e3a-widgets__56d6bae5adc63" data-name="ecomproductslist" class="widget  widget--zone-widget js-droppable" data-uniqueid="BvC8eFhf2xcxb0n">



<div class="bk-ecomproductslist ecomproductslist widget__ecomproductslist">

    <section class="listing-section  ecomproductslist__listing-section">


                <header class="listing-header  ecomproductslist__listing-header">

                        <h2 class="listing-title  ecomproductslist__listing-title">Products</h2>

                        <div class="product-filters  ecomproductslist__product-filters">

                                <form class="form  ecomproductslist__form js-productlist-display-form" method="GET" action="/store">

                    <fieldset class="fieldset  fieldset--search  ecomproductslist__fieldset--search">

                                                <legend class="legend  ecomproductslist__legend">Search Products</legend>

                                                <div class="form-body  ecomproductslist__form-body">

                                                      <div class="form-group  ecomproductslist__form-group">

                                                                <label class="label  label--search  ecomproductslist__label" for="page-zones__main-widgets__56d6bae59a91b-zones__56d6bae5a5e3a-widgets__56d6bae5adc63__ecomproductslist__search">Search Products</label>

                                                                <input class="input  input--search  ecomproductslist__input  js-display-control" id="page-zones__main-widgets__56d6bae59a91b-zones__56d6bae5a5e3a-widgets__56d6bae5adc63__ecomproductslist__search" name="productlist-search" placeholder="Search term" type="search" value="">

                            </div>

                                                        <div class="form-group  ecomproductslist__form-group">
                                <button class="button  button--submit  ecomproductslist__button" type="submit">Search</button>
                            </div>



                        </div>

                    </fieldset>

                    <fieldset class="fieldset  fieldset--filters  ecomproductslist__fieldset--filters">

                                                <legend class="legend  ecomproductslist__legend">Filters</legend>

                                                <div class="form-body  ecomproductslist__form-body">

                                                        <div class="form-group  ecomproductslist__form-group">
                                <label class="label  label--filter  ecomproductslist__label" for="page-zones__main-widgets__56d6bae59a91b-zones__56d6bae5a5e3a-widgets__56d6bae5adc63__ecomproductslist__filter-1">Order by</label>

                                                                <div class="select-wrap  ecomproductslist__select-wrap">

                                                                        <select class="select  select--filter  ecomproductslist__select  js-display-control" id="page-zones__main-widgets__56d6bae59a91b-zones__56d6bae5a5e3a-widgets__56d6bae5adc63__ecomproductslist__filter-1" name="productlist-sort">
                                                                                                                                                                    <option value="created-desc">
                                                                                                Newest
                                            </option>
                                                                                    <option value="title-asc">
                                                                                                Title: A-Z
                                            </option>
                                                                                    <option value="title-desc">
                                                                                                Title: Z-A
                                            </option>
                                                                                    <option value="price-desc">
                                                                                                Price: Highest to Lowest
                                            </option>
                                                                                    <option value="price-asc">
                                                                                                Price: Lowest to Highest
                                            </option>
                                                                            </select>
                                </div>
                            </div>

                                                        <div class="form-group  ecomproductslist__form-group">
                                <label class="label  label--filter  ecomproductslist__label" for="page-zones__main-widgets__56d6bae59a91b-zones__56d6bae5a5e3a-widgets__56d6bae5adc63__ecomproductslist__filter-2">Categories</label>
                                <div class="select-wrap  ecomproductslist__select-wrap">
                                    <select class="select  select--filter  ecomproductslist__select js-display-control" id="page-zones__main-widgets__56d6bae59a91b-zones__56d6bae5a5e3a-widgets__56d6bae5adc63__ecomproductslist__filter-2" name="productlist-categories">
                                        <option value="">Filter by category</option>
                                        <option disabled="">---</option>
                                                                                    <option value="calender">
                                                Calender
                                            </option>
                                                                                    <option value="prints">
                                                Prints
                                            </option>
                                                                                    <option value="book">
                                                Book
                                            </option>
                                                                            </select>
                                </div>
                            </div>


                                                        <div class="form-group  ecomproductslist__form-group">
                                <label class="label  label--filter  ecomproductslist__label" for="page-zones__main-widgets__56d6bae59a91b-zones__56d6bae5a5e3a-widgets__56d6bae5adc63__ecomproductslist__filter-3">Tags</label>
                                <div class="select-wrap  ecomproductslist__select-wrap">
                                    <select class="select  select--filter  ecomproductslist__select  js-display-control" id="page-zones__main-widgets__56d6bae59a91b-zones__56d6bae5a5e3a-widgets__56d6bae5adc63__ecomproductslist__filter-3" name="productlist-tags">
                                        <option value="">Filter by tag</option>
                                        <option disabled="">---</option>
                                                                                    <option value="picture">
                                                Picture
                                            </option>
                                                                                    <option value="2016">
                                                2016
                                            </option>
                                                                                    <option value="photos">
                                                Photos
                                            </option>
                                                                                    <option value="square">
                                                Square
                                            </option>
                                                                                    <option value="set">
                                                Set
                                            </option>
                                                                                    <option value="memories">
                                                Memories
                                            </option>
                                                                                    <option value="gift">
                                                Gift
                                            </option>
                                                                                    <option value="wood">
                                                Wood
                                            </option>
                                                                                    <option value="block">
                                                Block
                                            </option>
                                                                            </select>
                                </div>
                            </div>



                        </div>

                    </fieldset>

                </form>

            </div>


                                                        <p class="listing-order  ecomproductslist__listing-order">
                    Showing 1–4 of 4 products
                </p>

        </header>

                <div class="listing-body  ecomproductslist__listing-body">

                        <ul class="product-list  ecomproductslist__product-list">




                                <li class="product-item  ecomproductslist__product-item">

                                        <article class="product-item-article  ecomproductslist__product-item-article">

                                                <div class="product-item-image  ecomproductslist__product-item-image">


                                                                            <a class="image-link  ecomproductslist__image-link" href="/store/product/wood-clock-prints">
                                                                            <img class="image  image--thumb  ecomproductslist__image" src="//files.product.basekit.technology/product-basekit-technology742/image/product-03_4.jpg" alt="Wood Clock &amp; Prints">

                                                            </a>

                        </div>

                                                <header class="product-item-details  ecomproductslist__product-content">

                                                        <h3 class="product-item-title  ecomproductslist__product-item-title">
                                                                <a class="title-link  ecomproductslist__title-link" href="/store/product/wood-clock-prints">Wood Clock &amp; Prints</a>
                                                            </h3>

                                                        <p class="product-item-price  ecomproductslist__product-item-price">
                                                            £18.00
                                                        </p>
                        </header>
                    </article>
                </li>



                                <li class="product-item  ecomproductslist__product-item">

                                        <article class="product-item-article  ecomproductslist__product-item-article">

                                                <div class="product-item-image  ecomproductslist__product-item-image">


                                                                            <a class="image-link  ecomproductslist__image-link" href="/store/product/hardcover-photo-book">
                                                                            <img class="image  image--thumb  ecomproductslist__image" src="//files.product.basekit.technology/product-basekit-technology742/image/hardcover_09.jpg" alt="Hardcover Photo Book">

                                                            </a>

                        </div>

                                                <header class="product-item-details  ecomproductslist__product-content">

                                                        <h3 class="product-item-title  ecomproductslist__product-item-title">
                                                                <a class="title-link  ecomproductslist__title-link" href="/store/product/hardcover-photo-book">Hardcover Photo Book</a>
                                                            </h3>

                                                        <p class="product-item-price  ecomproductslist__product-item-price">
                                                            £25.00
                                                        </p>
                        </header>
                    </article>
                </li>



                                <li class="product-item  ecomproductslist__product-item">

                                        <article class="product-item-article  ecomproductslist__product-item-article">

                                                <div class="product-item-image  ecomproductslist__product-item-image">


                                                                            <a class="image-link  ecomproductslist__image-link" href="/store/product/square-print-set">
                                                                            <img class="image  image--thumb  ecomproductslist__image" src="//files.product.basekit.technology/product-basekit-technology742/image/square_prints_09.jpg" alt="Square Print Set">

                                                            </a>

                        </div>

                                                <header class="product-item-details  ecomproductslist__product-content">

                                                        <h3 class="product-item-title  ecomproductslist__product-item-title">
                                                                <a class="title-link  ecomproductslist__title-link" href="/store/product/square-print-set">Square Print Set</a>
                                                            </h3>

                                                        <p class="product-item-price  ecomproductslist__product-item-price">
                                                            £15.00
                                                        </p>
                        </header>
                    </article>
                </li>



                                <li class="product-item  ecomproductslist__product-item">

                                        <article class="product-item-article  ecomproductslist__product-item-article">

                                                <div class="product-item-image  ecomproductslist__product-item-image">


                                                                            <a class="image-link  ecomproductslist__image-link" href="/store/product/wood-calender">
                                                                            <img class="image  image--thumb  ecomproductslist__image" src="//files.product.basekit.technology/product-basekit-technology742/image/product-01_5.jpg" alt="Wood Calender">

                                                            </a>

                        </div>

                                                <header class="product-item-details  ecomproductslist__product-content">

                                                        <h3 class="product-item-title  ecomproductslist__product-item-title">
                                                                <a class="title-link  ecomproductslist__title-link" href="/store/product/wood-calender">Wood Calender</a>
                                                            </h3>

                                                        <p class="product-item-price  ecomproductslist__product-item-price">
                                                            £20.00
                                                        </p>
                        </header>
                    </article>
                </li>

            </ul>

        </div>

                <footer class="listing-footer  ecomproductslist__listing-footer">


        </footer>

    </section>

</div>


<div class="widget-overlay js-widget-overlay hover"><div style="height: 52px; width: 97.6406px; margin: 10px 5px 18px 32.4px; border-spacing: 0px; border: 0px; padding: 0px; font-size: 1em; position: static; float: right;"></div><ul class="widget__list  list--options" style="position: absolute; left: 307.609px; right: 5px; bottom: auto; width: auto; margin-left: 0px; margin-right: 0px; margin-top: 0px; top: 10px;">
                    <li class="widget__item item--option" hidden="">
                <span class="widget__option  option  option--copy js-copy">
                    <svg class="widget__icon  icon  icon--copy">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#copy"></use>
                    </svg>
                    <span class="widget__optiontext  optiontext  optiontext--option">Copy</span>
                </span>
            </li>
                                                    <li class="widget__item item--option">
                <span class="widget__option  option  option--move js-move">
                    <svg class="widget__icon icon icon--cursormove" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13 6v5h5V7.75L22.25 12 18 16.25V13h-5v5h3.25L12 22.25 7.75 18H11v-5H6v3.25L1.75 12 6 7.75V11h5V6H7.75L12 1.75 16.25 6H13z"></path></svg>
                    <span class="widget__optiontext  optiontext  optiontext--option">Move</span>
                </span>
            </li>
                            <li class="widget__item item--option">
                    <span class="widget__option  option  option--delete js-delete">
                        <svg class="widget__icon icon icon--cursormove" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg>
                        <span class="widget__optiontext  optiontext  optiontext--option">Remove</span>
                    </span>
                </li>
                    </ul></div></div>
    <div class="resize-sensor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; z-index: -1; visibility: hidden;"><div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0px; top: 0px; transition: 0s; width: 100000px; height: 100000px;"></div></div><div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div><div class="js-column-drop" style="position: absolute; bottom: 10px; left: 0px; width: 412px; height: 0px;"></div></section>
            <section id="page-zones__main-widgets__56d6bae59a91b-zones__56d6bae5a9b0d" class="bk-zone column columns-two-right" data-uniqueid="WypxccUHKDitVHd" max-width="650px" style="position: relative;">            <div id="page-zones__main-widgets__56d6bae59a91b-zones__56d6bae5a9b0d-widgets__56d6bae5afd66" data-name="contactform" class="widget  widget--zone-widget js-droppable" data-uniqueid="jENZBfEFtKl157v">

    <div class="bk-contactform  contactform  widget__contactform">

        <form class="form  contactform__form js-form">

                <fieldset class="fieldset  contactform__fieldset">

                        <legend class="legend  contactform__legend">Contact Us</legend>

                        <div class="form-body  contactform__form-body">

                                <div class="form-group  contactform__form-group">

                                        <label class="label  label--email  contactform__label" for="page-zones__main-widgets__56d6bae59a91b-zones__56d6bae5a9b0d-widgets__56d6bae5afd66__input--email">Your email</label>

                                        <input class="input  input--email  input--single-line  contactform__input js-email-input" id="page-zones__main-widgets__56d6bae59a91b-zones__56d6bae5a9b0d-widgets__56d6bae5afd66__input--email" name="page-zones__main-widgets__56d6bae59a91b-zones__56d6bae5a9b0d-widgets__56d6bae5afd66__input--email" placeholder="name@email.com" type="email">

                </div>

                                <div class="form-group  contactform__form-group">

                                        <label class="label  label--message  contactform__label" for="page-zones__main-widgets__56d6bae59a91b-zones__56d6bae5a9b0d-widgets__56d6bae5afd66__textarea--message">Message</label>

                                        <textarea class="textarea  textarea--message  contactform__textarea js-message-input" id="page-zones__main-widgets__56d6bae59a91b-zones__56d6bae5a9b0d-widgets__56d6bae5afd66__textarea--message" name="page-zones__main-widgets__56d6bae59a91b-zones__56d6bae5a9b0d-widgets__56d6bae5afd66__textarea--message"></textarea>

                </div>

                                <div class="form-group  contactform__form-group">

                                        <button class="button  button--submit  contactform__button js-button  " type="submit">Send</button>
                </div>

            </div>

        </fieldset>

    </form>

</div>

<div class="widget-overlay js-widget-overlay"><div style="height: 52px; width: 97.6406px; margin: 10px 5px 18px 32.4px; border-spacing: 0px; border: 0px; padding: 0px; font-size: 1em; position: static; float: right;"></div><ul class="widget__list  list--options" style="position: absolute; left: 307.609px; right: 5px; bottom: auto; width: auto; margin-left: 0px; margin-right: 0px; margin-top: 0px; top: 10px;">
                    <li class="widget__item item--option" hidden="">
                <span class="widget__option  option  option--copy js-copy">
                    <svg class="widget__icon  icon  icon--copy">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#copy"></use>
                    </svg>
                    <span class="widget__optiontext  optiontext  optiontext--option">Copy</span>
                </span>
            </li>
                                                    <li class="widget__item item--option">
                <span class="widget__option  option  option--move js-move">
                    <svg class="widget__icon icon icon--cursormove" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13 6v5h5V7.75L22.25 12 18 16.25V13h-5v5h3.25L12 22.25 7.75 18H11v-5H6v3.25L1.75 12 6 7.75V11h5V6H7.75L12 1.75 16.25 6H13z"></path></svg>
                    <span class="widget__optiontext  optiontext  optiontext--option">Move</span>
                </span>
            </li>
                            <li class="widget__item item--option">
                    <span class="widget__option  option  option--delete js-delete">
                        <svg class="widget__icon icon icon--cursormove" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg>
                        <span class="widget__optiontext  optiontext  optiontext--option">Remove</span>
                    </span>
                </li>
                    </ul></div></div>
    <div class="resize-sensor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; z-index: -1; visibility: hidden;"><div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0px; top: 0px; transition: 0s; width: 100000px; height: 100000px;"></div></div><div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div><div class="js-column-drop" style="position: absolute; bottom: 10px; left: 437.75px; width: 412px; height: 773px;"></div></section>

</div>
</div>

		<!-- MAIN WIDGET ZONE -->
	   	{{zone('main')|raw}}

	</div>
	<!-- END MAIN SECTION -->

	<!-- FOOTER -->
	{% include "includes/footer.twig" %}

</div>
<!-- END CONTAINER -->

<!-- MASONRY GALLERY -->

{% endblock %}

{% block scripts %}

	<!-- imagesLoaded -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>

	<!-- Masonry -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.2.1/masonry.pkgd.min.js"></script>

	<script>
		var container = document.querySelector('.gallery-list');

		imagesLoaded( container, function() {
			var msnry = new Masonry( container, {
				itemSelector: '.gallery-item'
			});
		});
	</script>

{% endblock %}
